html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#__next {
    display: grid;
    min-height: 100vh;
    height: 100%;

    grid-template-areas:
        "aside header"
        "aside main"
        "aside footer";

    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
}

.cabecalho {
    grid-area: header;
    display: flex;
}

.menu-lateral {
    grid-area: aside;
    height: 100%;
    display: grid;
}

.principal {
    grid-area: main;
    overflow-y: auto;
    padding-bottom: 120px;
}

.rodape {
    grid-area: footer;
    display: grid;
}

.navbar {
    display: none;
}


@media only screen and (max-width: 1023px) {

    #__next {
        grid-template-areas:
            "header"
            "main"
            "footer"
            "navbar" !important;

        grid-template-columns: 1fr !important;
        grid-template-rows: auto 1fr auto auto !important;
    }

    .principal {
        grid-area: main !important;
        padding-bottom: 140px !important;
    }

    .navbar {
        grid-area: navbar !important;
        display: block !important;
    }

    .cabecalho {
        grid-area: header !important;
        display: flex !important;
        padding: 1rem;
    }

    .rodape {
        grid-area: footer !important;
        display: grid !important;
    }

    .menu-lateral {
        display: none !important;
    }
}