.cabecalho {
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; 
}

.cabecalho__auth {
    margin-left: auto;
}

.cabecalho__botao--login, .cabecalho__botao--logout {
    background-color: #0070f3; 
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
    font-size: 0.9rem;
}

.cabecalho__botao--login:hover, .cabecalho__botao--logout:hover {
    background-color: #005bb5; 
}

    