@media only screen and (max-width: 1023px) {

    .rodape {
        padding: 0.5rem 0.75rem;
        grid-template-columns: auto 1fr auto !important;
        align-items: center;
        min-height: 60px;
        border-top: 1px solid var(--azul-medio);
    }

    .rodape__imagem {
        width: 48px;
        height: 48px;
    }

    .rodape__titulo {
        font-size: 0.9rem;
        padding-left: 0.75rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .rodape__subtitulo {
        display: none;
    }

    .rodape__botao--voltar,
    .rodape__botao--anterior,
    .rodape__botao--avancar,
    .rodape__botao--proximo,
    .rodape__horario,
    .barra__container--reproducao,
    .barra__container--volume,
    .rodape__botao--volume-down,
    .rodape__botao--volume-up {
        display: none;
    }

    .rodape__botao--play {
        display: block;
        padding: 0 1rem;
    }

    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .secao-horizontal .cartao__subtitulo,
    .secao-horizontal .cartao__botao,
    .secao-horizontal .cartao__player,
    .secao-vertical .secao__link {
        display: none;
    }

    .secao-vertical .secao__cartoes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1.5rem;
        --gap-coluna: 1rem;
    }

    .secao-horizontal .cartao {
        grid-template-columns: auto 1fr;
        column-gap: 0.5rem;
    }

    .secao-horizontal .cartao__imagem {
        grid-area: 1 / 1 / 3 / 2;
        height: 56px;
        width: 56px;
    }

    .secao-horizontal .cartao__titulo {
        grid-area: 1 / 2 / 2 / 3;
        font: 700 14px/20px Open Sans, sans-serif;
        align-self: center;
    }

    .secao-vertical .cartao {
        background-color: transparent;
        padding: 0;
        word-break: break-word;
    }

    .secao-vertical .cartao__imagem {
        height: auto;
        width: 100%;
    }
}


@media only screen and (min-width: 1024px) and (max-width: 1399px) {
    .container {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .menu-lateral__link::before {
        padding-left: 1rem;
    }

    .secao__cartoes {
        --gap-coluna: 1.5rem;
    }

    .secao-horizontal .cartao__titulo {
        font: 700 16px/22px 'Open Sans', sans-serif;
    }

    .secao-horizontal .cartao__subtitulo {
        font: 400 14px/19px 'Open Sans', sans-serif;
        width: 100%;
    }

    .secao-vertical .cartao {
        padding: 1.25rem;
    }

    .secao-vertical .cartao:nth-child(n+5) {
        display: none;
    }

    .secao-vertical .cartao__imagem {
        height: 134px;
    }
}